a[href^="https://"]  {
    color: #f70;
}

a[href*="google"] {
    color: #666;
}

span {
    -webkit-transform: scale(-1,1);
    -moz-transform: scale(-1,1);
    -ms-transform: scale(-1,1);
    -o-transform: scale(-1,1);
    transform: scale(-1,1);
}