h1 {
    text-align: right;
}

h1, h2 {
    color: orange;
}

div > h2 {
    color: blue;
}

p:first-letter  {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

ol li {
    color:red;
}

.ogorod li.fruits li    {
    color:grey;
}

.sklad li.fruits li {
    color:green;
}

i  {
    color: white;
    background-color: green;
}

td:first-child {
    color: orange;
}

td:nth-child(n+2) {
    color:white;
    background-color: green;
    text-align: center;
}
