form {
 font: x-large Arial;
}

div {
  margin: 15px 0;
}

label[for="red"] {
  color: red;
}

label[for="green"] {
  color: green;
}

label[for="blue"] {
  color: blue;
}

span {
  border-radius: 10px;
  font-weight: bolder;
  color: white;
  padding: 6px 9px 4px 10px;
  margin: 15px 0 15px 0;
  display: inline-block;
}

label {
  text-decoration: underline;
  margin: 20px 52px 20px 18px;
  display: inline-block;
}

input[type="checkbox"] {
  display: none;
}

input#red:checked ~ .red,
input#green:checked ~ .green,
input#blue:checked ~ .blue {
  display: none;
}

input#red:checked ~ label[for="red"],
input#green:checked ~ label[for="green"],
input#blue:checked ~ label[for="blue"] {
  opacity: 0.5;
}

span.red {
  background: red;
}

span.green {
  background: green;
}

span.blue {
  background: blue;
}